
  <nz-input-group nzSearch nzPrefixIcon="search">
    <input type="text" nz-input placeholder="input page text" [(ngModel)]="inputValue"
      (input)="onInput($event)" [nzAutocomplete]="auto" style="height:30px"  nzBorderless />
    <nz-autocomplete   #auto>
        <nz-auto-option >
          <div  class="search-dropdown">
            <nz-avatar nzIcon="user" style=" background-color:#ff9999;"></nz-avatar>
            <p class="com-name"> Page</p>
          </div>
        </nz-auto-option>
    </nz-autocomplete>
  </nz-input-group>

