<div nz-row nzWidth="100%">
  <div nz-col class="users">
    <div class="table-operation">
      <nz-space [nzSize]="16"> </nz-space>
      <nz-space>
        <nz-input-group nzSearch nzSize="large">
          <input
            type="text"
            nz-input
            placeholder="Search User"
            [(ngModel)]="inputValue"
            (input)="onInput($event)"
            class="search-box"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </nz-space>
    </div>
    <nz-table
      #fixedTable
  
      [nzLoading]="isLoading"
      [nzScroll]="{ x: '768px' }"

      [nzData]="dataSet"
      class="driver-table"
    >
      <thead>
        <tr>
          <th translate nzWidth="20%" nzLeft>Name</th>
          <th translate nzWidth="20%">Email</th>
          <th translate nzWidth="20%">Gender</th>
          <th translate nzWidth="20%">Phone Number</th>

          <th translate nzWidth="20%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fixedTable.data; let i = index">
          <td nzLeft>{{ data.full_name_kh }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.sex }}</td>
          <td>{{ data.phone_number }}</td>
          <td>
            <nz-space [nzSize]="10">
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                (click)="showModal(data.user.id)"
                innerHTML="Edit"
              >
                Edit
              </button>

              <button
                *nzSpaceItem
                nz-button
                (click)="deleteUser(data.user.id, data.id)"
                innerHTML="Delete"
              >
                Delete
              </button>
            </nz-space>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>

<!-- Modal Popup -->
<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  nzWidth="968px"
  [nzOkText]="null"
  [nzCancelText]="null"
  nzWidth="968px"
>
  <ng-container *nzModalContent>
    <edit-profile [editUser]="editUser" [userId]="userId"></edit-profile>
  </ng-container>
</nz-modal>
<!-- Dropdown item -->
<nz-dropdown-menu #sort="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>By Name [a-z]</li>
    <li nz-menu-item>By Age</li>
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #filter="nzDropdownMenu">
  <ul nz-menu *ngFor="let data of dataSet">
    <li nz-menu-item>{{ data.role }}</li>
  </ul>
</nz-dropdown-menu>
